body {
  justify-content: center;
  align-items: center;
  background-image: url("New folder/soccer-players-action-professional-stadium.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  display: flow-root;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-bottom: 2px solid whitesmoke;
    white-space: inherit;
  }
  
  dl {
    display: inline-flex;
    margin: 10px;
    margin-right: 20px;
  }
  
  .link {
    padding: 1em;
  }
  
  header a {
    text-decoration: none;
    color: rgb(1 212 43);
  }

  p {
    color: whitesmoke;
  }

   .botton {
    display: flex;
    margin: 0.5em;
    border-radius: 10px;
    height: 27px;
    width: 90px;
    text-align: center;
  }

  .zoz {
    background-color: aliceblue;
    width: 4px;
    height: 30px;
    border: white;
    margin:auto;
    border-radius: 40px;
  }
  
  footer a {
    text-decoration: none;
    color: rgb(255, 255, 255) 
  }
  
  .imge{
    background-color: rgba(1, 212, 43, 0.588);
    border-radius: 21px;
    margin-right: auto;
    height: 50px;
    width: 120px;
    padding: 1em;
  }
  
  #input {
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    outline: none;
    position: sticky;
    width: 250px;
  }
  .input-icons i {
    position: absolute;
  }
  
  .input-icons {
    width: 35;
    margin: 10px;
    
  }
  
  .icon {
    padding: 10px;
    min-width: 40px;
    margin-left: -105px;
  }
  
  .input-field {
    width: 100%;
    text-align: center;
  }
  #icon {
    padding: 10px;
    min-width: 40px;
    margin-left: -256px;
    margin-top: -6px;
  }



  .btn {
      background-color:rgb(1 212 43);
      width: 150px;
      height: 30px;
      border-radius: 24px;
      color: aliceblue;
      font-family: serif;
      font-size: 20px;
      margin-top: 80px;
  }

  .btn:hover{
    background-color: aliceblue;
    color:rgb(1 212 43)
  }


.small {
    background-color:rgba(255, 255, 255, 0.366);
    position: fixed;
    left: 30px;
    border-radius: 30px;
    /* text-align: center; */
    width: 91vw;
    height: 33vw;
    padding: 10px;
    margin: 20px 50px; 
    display: inline-grid;
    overflow-y: scroll;
}

.small::-webkit-scrollbar{
  width: 1vw;
}

.small::-webkit-scrollbar-thumb{
  border-radius: 15px;
  background-color: #01d101;
}

.small::-webkit-scrollbar-track{
  color: aliceblue;
}

.t1 {
  background-color: rgba(1, 212, 43, 0.238);
  border-radius: 24px;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 88vw;
  height: 9vw;
  margin: 10px;
}



.s5 {
  height: 6vw;
  width: 12vw;
  border-radius: 18px;
  border: solid;
  margin-top: 15px;
  margin-left: -35px;
}

.foot{
  width: 100%;
  height: 20vh;
  bottom: 0;
  background-color: #2c2b2b74;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.r2{
  display: inline-flex;
}
.r3{
  margin: 2vw;
}

